<form [formGroup]="form" (submit)="onSubmit()" class="p-3">
  <mat-form-field class="d-block">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirm_password" required>
    <mat-error *ngIf="mismatch">Password must match</mat-error>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>User Role</mat-label>
    <mat-select formControlName="user_role" required>
      <mat-option value='operator'>Operator</mat-option>
      <mat-option value='admin'>Admin</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="warn" (click)="onClose()">
      <mat-icon>remove_circle</mat-icon>
      Cancel
    </button>
    &nbsp;
    <button mat-raised-button color="primary" type="submit" class="justify-content-center align-items-center">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
