<form [formGroup]="form" (submit)="onSubmit()" class="p-3">
  <mat-form-field class="d-block">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="username" required>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Confirm Password</mat-label>
    <input matInput type="password" formControlName="confirm_password" required>
    <mat-error *ngIf="mismatch">Password must match</mat-error>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>User Type</mat-label>
    <mat-select formControlName="user_type" required>
      <mat-option value='Operator'>Operator</mat-option>
      <mat-option value='Admin'>Admin</mat-option>
    </mat-select>
  </mat-form-field>
  <section class="d-block">
    <mat-checkbox color="primary" formControlName="is_active">Is Active</mat-checkbox>
  </section>

  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="warn" (click)="onClose()">
      <mat-icon>remove_circle</mat-icon>
      Cancel
    </button>
    &nbsp;
    <button mat-raised-button color="primary" type="submit" class="justify-content-center align-items-center">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>