<form [formGroup]="form" (submit)="onSubmit()" class="p-3">
  <mat-form-field class="d-block">
    <mat-label>Dimension</mat-label>
    <input matInput formControlName="dimension" required>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Color</mat-label>
    <input matInput formControlName="color">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Material</mat-label>
    <input matInput formControlName="material">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Capacity</mat-label>
    <input matInput formControlName="capacity">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Packaging Unit</mat-label>
    <input matInput formControlName="packaging_unit">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price">
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency_id" required>
      <mat-option *ngFor="let currency of currencies$|async" [value]='currency.id'>{{
        currency.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="d-block">
    <mat-label>Supplier</mat-label>
    <mat-select formControlName="supplier_id" required>
      <mat-option *ngFor="let supplier of suppliers$|async" [value]='supplier.id'>{{
        supplier.company_name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-raised-button type="button" color="warn" (click)="onClose()">
      <mat-icon>remove_circle</mat-icon>
      Cancel
    </button>
    &nbsp;
    <button mat-raised-button color="primary" type="submit" class="justify-content-center align-items-center">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</form>
