<header class="p-2 text-bg-dark">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start flex-sm-column flex-md-row">
      <a href="/" class="d-flex align-items-center mb-lg-0 text-white text-decoration-none">
        <h1 class="m-0 fw-bold logo">MAVEKO</h1>
      </a>

      <div class="flex-fill d-block" style="font-size: 12px">
        <ul class="nav col-12 me-md-auto justify-content-center mb-md-0">
          <li><a [routerLink]="['/suppliers']" class="nav-link px-3 navbar-links">Suppliers</a></li>
          <!-- <li><a [routerLink]="['/categories']" class="nav-link px-3 navbar-links">Categories</a></li> -->
          <li><a [routerLink]="['/products']" class="nav-link px-3 navbar-links">Products</a></li>
          <li><a [routerLink]="['/quotations']" class="nav-link px-3 navbar-links">Quotation Requests</a></li>
          <!-- <li><a [routerLink]="['/currencies']" class="nav-link px-3 navbar-links">Currencies</a></li> -->
          <!-- <li><a [routerLink]="['/units_of_measure']" class="nav-link px-3 navbar-links">Units of Measure</a></li> -->
        </ul>
      </div>

      <div class="text-end">
        <button class="btn btn-default me-2 btn-outline-dark header-btn" [matMenuTriggerFor]="notifications"
          mat-icon-button>
          <i class="text-light pi pi-bell"></i>
        </button>
        <mat-menu class="d-block" #notifications="matMenu">
          <div class="notifications-container">
            <div class="p-3 d-flex notification-item" *ngFor="let notification of notifications$|async">
              <div class="pointer flex-fill text-start" (click)="onNotificationClick(notification)">
                <div class="h6 text-dark">{{notification.sender}}</div>
                <small class="d-block text-muted notification-message">{{notification.message}}</small>
              </div>
              <div class="pointer closeIcon ps-3 header-btn d-flex align-items-center">
                <mat-icon (click)=" onCloseNotification(notification)">close</mat-icon>
              </div>
            </div>
          </div>
        </mat-menu>
        <button *ngIf="user_type == 'Admin'" [routerLink]="['/users']" type="button"
          class="btn btn-sm btn-outline-light me-2 px-3 header-btn">
          <i class="pi pi-users"></i>
          Users
        </button>
        <button type="button" class="btn btn-sm btn-warning px-3 header-btn" (click)="onSignOut()">
          <i class="pi pi-sign-out"></i>
          Sign-out
        </button>
      </div>
    </div>
  </div>
</header>
