.navbar-links{
    color: #bbb !important
}

.navbar-links:hover{
    // text-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    // transform: scale(1.15);
    color: white !important;
}

.logo:hover, .header-btn:hover, .navbar-links:hover{
    transform: scale(1.05);
}

.menu-item{
  width: 300px;
  height: fit-content;
}

.notification-message{
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
